.tab-controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    border-bottom: 2px solid #000;
}
.tab-controls > svg:nth-child(1) {
    align-self: flex-start;
    margin-left: 1em;
}
.tab-controls > svg:nth-child(2) {
    margin-left: auto;
    margin-right: 1em;
}
.tab-controls > svg {
    height: 2.5em;
    margin: .25em;
    fill: #fff;
}
.tab-content {
    position: relative;
}